body {
  background-color: black;
}

#header {
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.logo {
  cursor: pointer;
  align-self: center;
}
.icon {
  color: aliceblue;
  align-self: center;
  cursor: pointer;
}
.icon a {
  text-decoration: none !important;
  color: aliceblue;
}
.icon a:hover {
  text-decoration: none !important;
  color: rgb(237, 8, 0);
}
h2 {
  color: aliceblue;
  margin-top: 100px;
  margin-left: 50px;
}
h4 {
  color: aliceblue;
  margin-left: 30%;
  margin-top: 150px;
}
table {
  color: aliceblue;
  margin: auto;
  margin-top: 3%;
  width: 50%;
}
#video {
  margin-left: 17%;
}
.tit2 {
  color: aliceblue;
  margin-left: 17%;
}
.testo {
  margin-left: 17%;
}
span {
  padding: 10rem;
}
.correlati {
  color: aliceblue;
  margin-left: 17%;
}
